<table class="data-table" >
    <tr>
        <td><p>Your ip is the following (hidden by default): </p></td>
        <td>
            <button class="show-ip-button" onclick="document.getElementById('ip-text').classList.remove('hide')">&#128269;</button>
            <b class="hide" id="ip-text">{{ip}}</b>
        </td>
    </tr>
    <tr>
        <td><p>You are the nth distinct visitor since I accidentally deleted the DB: </p></td><td><b>{{visitor_rank}}</b></td>
    </tr>
    <tr>
        <td><p>DB initialization date (UTC): </p></td><td><b>{{db_init_time}}</b></td>
    </tr>
    <tr>
        <td><p>Total number of visitors: </p></td><td><b>{{total_visitors}}</b></td>
    </tr>

</table>
<style>
        .data-table {
            max-width: 700px;
            margin: auto;
            border-spacing: 0 3px;
        }

        .data-table tr td:nth-child(1) {
            width: 70%;
            border-right: none;
            padding-right: 5px;
        }
        .data-table tr td:nth-child(2) {
            width: 30%;
        }

        .hide {
            color: black;
            background: black;
        }

        .show-ip-button {
            margin-right: 5px;
            background-color: inherit;
            border: 1px solid black;
            border-radius: 4px;
            cursor: pointer;
        }
</style>
